<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Application</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>All Applications Page</h1>
    <a href="/users/<%=user._id%>/applications/new">Add a new application</a>
    
    <ul>
        <% applications.forEach((application)=>{ %>
          <li><%= application.title %> at <%= application.company %></li>
        <% }) %>
    </ul>

</body>
</html>